*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color:  rgba(252, 252, 252, 1);
 }

#gridContenedor {
    display: grid;
    grid-template-areas: 
        "header"
        "contenedor";
    grid-template-rows: auto auto;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background-color:  rgba(233, 164, 199, 1);
}

.fondo-header {
    background-color:  rgba(233, 164, 199, 1);}

a {
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

a:hover{
  color: #3F4E4F;
}

h1 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    text-align: center;
    color: #3F4E4F;
    font-weight: 800;
    font-size: 4rem;
}

h4 {
    text-align: center;
    color: #3F4E4F;
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 1.5rem;

}

h3 {
  color: #3F4E4F;
  font-size: 30px;
  font-weight: 700;
  padding-top: 60px;
}

.contenedor {
  grid-area: contenedor;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin-top: 30px; 
  margin-bottom: 100px;
  margin-top: 10px;

}

.card {
  margin-left: 0.5rem;

}

.btninfo{
  background-color: rgba(233, 164, 199, 1);
  border-color: rgba(233, 164, 199, 1);
  font-weight: 700;
  border-radius: 0%;
  color: white;
}

.btn {
  background-color: #cf6983;
  border-color: #cf6983; 
  color: white;
  }

.btn-primary {
  background-color: #477ed1;
  border-color: #477ed1;
}

.btn-danger {
  background-color: #e34034;
  border-color: #e34034;
}

.precio {
    font-size: large;
}

.formGrid {
    grid-area: formulario;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-top: 30px;
    background-color: #fae8bb;
    margin-bottom: 100px; }
  
  .formulario form {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45px;
    margin: transparent; }
  
  .formulario fieldset {
    border-color: #fae8bb; }
  
  .formulario label {
    display: block; }
  
  .formulario textarea {
    padding-bottom: 20px;
    display: block; }
  
  .formulario input {
    margin-top: 2px;
    margin-bottom: 2px; }
  
  .form-control {
    width: 80%; }
  
  #boton {
    position:absolute;
    left: 76%;
    font-weight: 700;
    background-color: #cf6983;
    border-color: #cf6983; }