*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    color: #3F4E4F;
}

.boton {
    background-color: #cf6983;
    border-color: #cf6983; }